<a href="https://colab.research.google.com/github/scortuna/CPE-310-2526A/blob/main/Hands_on_Activity_6_2_Getting_Started_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Exercise 1.1 Create a DataFrame by reading in the 2019_Yellow_Taxi_Trip_Data.csv file. Examine the first 5 rows.
import pandas as pd

taxi_df = pd.read_csv("/content/2019_Yellow_Taxi_Trip_Data(1)(1).csv")

taxi_df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

In [2]:
# Exercise 1.2 Find the dimensions (number of rows and number of columns) in the data.
taxi_df.shape

(10000, 18)

In [3]:
# Exercise 1.3 Using the data in the 2019_Yellow_Taxi_Trip_Data.csv file, calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns.

taxi_df[["fare_amount", "tip_amount", "tolls_amount", "total_amount"]].describe()

        fare_amount    tip_amount  tolls_amount  total_amount
count  10000.000000  10000.000000  10000.000000  10000.000000
mean      15.106313      2.634494      0.623447     22.564659
std       13.954762      3.409800      6.437507     19.209255
min      -52.000000      0.000000     -6.120000    -65.920000
25%        7.000000      0.000000      0.000000     12.375000
50%       10.000000      2.000000      0.000000     16.300000
75%       16.000000      3.250000      0.000000     22.880000
max      176.000000     43.000000    612.000000    671.800000

In [4]:
# Exercise 1.4 Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

taxi_df.loc[taxi_df["trip_distance"].idxmax(), ['fare_amount', 'tip_amount', "tolls_amount", 'total_amount']]

fare_amount      176.0
tip_amount       18.29
tolls_amount      6.12
total_amount    201.21
Name: 8338, dtype: object

# **SUPPLEMENTARY ACTIVITY**

In [5]:
import pandas as pd
Wine = pd.read_csv('/content/Wine Data for Excel Import - Wine Data for Excel Import.csv')

In [9]:
# Exercise 1.1 Create a DataFrame by reading in the Wine Data for Excel file. Examine the first 5 rows.
Wine.head()

,Class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [10]:
# Exercise 1.2 Find the dimensions (number of rows and number of columns) in the data.
Wine.shape

(10, 14)

In [11]:
# Exercise 1.3 Using the data in the Wine Data for Excel file, calculate summary statistics.

Wine.describe(include = "all")

,Class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315,Proline
count,10.000000,10.000000,10.0000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0000,10.000000,10.000000,10.000000,10.000000,10.00000
mean,1.700000,13.128000,1.8130,2.299000,16.460000,107.400000,2.376000,2.078000,0.3360,1.360000,4.829000,0.980000,2.466000,832.50000
std,0.823273,0.695905,0.6674,0.410567,3.387625,12.112436,0.751638,1.068028,0.1393,0.859509,1.601884,0.153768,0.997833,342.23327
min,1.000000,12.330000,0.9400,1.360000,10.600000,88.000000,1.300000,0.570000,0.2100,0.410000,1.950000,0.740000,1.290000,450.00000
25%,1.000000,12.695000,1.3525,2.175000,15.700000,100.250000,1.990000,1.227500,0.2450,0.672500,4.155000,0.890000,1.610000,555.00000
50%,1.500000,13.020000,1.7450,2.360000,16.800000,102.500000,2.350000,2.050000,0.2800,1.110000,4.890000,1.035000,2.375000,707.50000
75%,2.000000,13.230000,2.2575,2.482500,18.450000,116.750000,2.800000,2.985000,0.3675,2.090000,5.670000,1.047500,3.342500,1061.25000
max,3.000000,14.370000,2.9900,2.870000,21.000000,127.000000,3.850000,3.490000,0.6300,2.810000,7.800000,1.250000,3.920000,1480.00000

In [12]:
# Exercise 1.4 Isolate the variables with highest variability.
Wine[['Proline', 'Alcalinity of Ash', 'Magnesium', 'Color Intensity','Flavanoids']]

   Proline  Alcalinity of Ash  Magnesium  Color Intensity  Flavanoids
0     1065               15.6        127             5.64        3.06
1     1050               11.2        100             4.38        2.76
2     1185               18.6        101             5.68        3.24
3     1480               16.8        113             7.80        3.49
4      735               21.0        118             4.32        2.69
5      520               10.6         88             1.95        0.57
6      680               16.0        101             3.27        1.09
7      450               16.8        100             5.75        1.41
8      630               18.0        122             4.10        1.25
9      530               20.0        104             5.40        1.22